---
name: Test Incoming Changes

'on':
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint:
    runs-on: ubuntu-22.04
    env:
      SHELL: /bin/bash
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Set up Go
        uses: actions/setup-go@f111f3307d8850f501ac008e886eec1fd1932a34 # v5.3.0
        with:
          go-version-file: go.mod

      - uses: nosborn/github-action-markdown-cli@58bcfd1af530d87a13d51b76e6713b52602e3613 # v3.4.0
        with:
          files: README.md

      - uses: ludeeus/action-shellcheck@00b27aa7cb85167568cb48a3838b75f4265f2bca # master
        with:
          ignore_paths: vendor
      - uses: mfinelli/setup-shfmt@1a143389339b48c4b48ae3cdc058f3dbe336a701 # v3.0.2
      - run: shfmt -d scripts/*.sh
      - uses: crate-ci/typos@212923e4ff05b7fc2294a204405eec047b807138 # master
      - uses: ibiqlik/action-yamllint@2576378a8e339169678f9939646ee3ee325e845c # v3.1.1
        with:
          file_or_dir: .github/workflows/*.yml config/*.yaml
          config_data: |
            extends: default
            rules:
              line-length:
                level: warning
              trailing-spaces:
                level: warning
              brackets:
                level: warning
              empty-lines:
                level: warning

      - name: Golangci-lint
        uses: golangci/golangci-lint-action@2226d7cb06a077cd73e56eedd38eecad18e5d837 # v6.4.1
        with:
          version: v1.64
          args: --timeout 10m0s

  build:
    runs-on: ubuntu-22.04
    env:
      SHELL: /bin/bash
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Set up Go
        uses: actions/setup-go@f111f3307d8850f501ac008e886eec1fd1932a34 # v5.3.0
        with:
          go-version-file: go.mod

      - name: Install ginkgo
        run: make install-ginkgo

      - name: Compile test suites
        run: ginkgo build -r ./tests

  unittest:
    runs-on: ubuntu-22.04
    env:
      SHELL: /bin/bash
    
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Set up Go
        uses: actions/setup-go@f111f3307d8850f501ac008e886eec1fd1932a34 # v5.3.0
        with:
          go-version-file: go.mod

      - name: Checkout the certsuite repo
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          repository: redhat-best-practices-for-k8s/certsuite
          path: certsuite

      - name: Run Unit Tests
        run: CERTSUITE_REPO_PATH=${GITHUB_WORKSPACE}/certsuite make unit-tests

