---
name: QE Testing (Ubuntu-hosted)

on:
  pull_request:
    branches: [ main ]
    paths:
      - 'tests/**'
      - 'go.mod'
      - 'go.sum'
      - '.github/workflows/qe-ocp.yml'
      - '.github/workflows/qe.yml'
  workflow_dispatch:
  # Schedule a daily cron at midnight UTC
  schedule:
    - cron: '0 0 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

env:
  TEST_REPO: redhat-best-practices-for-k8s/certsuite
  CERTSUITE_REF: main

jobs:
  build-and-store-image:
    runs-on: ubuntu-24.04
    steps:
      - name: Check out code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v5.0.0
        with:
          ref: ${{ github.sha }}

      - name: Check out certsuite code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v5.0.0
        with:
          repository: ${{ env.TEST_REPO }}
          path: certsuite
          ref: ${{ env.CERTSUITE_REF }}

      - name: Setup docker buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Build temporary image tag for this PR
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: ./certsuite
          file: ./certsuite/Dockerfile
          tags: quay.io/redhat-best-practices-for-k8s/certsuite:localtest
          outputs: type=docker,dest=/tmp/testimage.tar

      - name: Store image as artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: testimage
          path: /tmp/testimage.tar

  # Build and store the certsuite binary
  build-and-store-binary:
    runs-on: ubuntu-24.04
    steps:
      - name: Check out code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v5.0.0
        with:
          ref: ${{ github.sha }}

      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: go.mod

      - name: Clone the certsuite repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v5.0.0
        with:
          repository: ${{ env.TEST_REPO }}
          path: certsuite
          ref: ${{ env.CERTSUITE_REF }}

      - name: Extract dependent Pull Requests
        uses: depends-on/depends-on-action@826c144163ac67bf08347590a5f81afd45da63ca # main
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          extra-dirs: certsuite

      - name: Build the certsuite binary
        run: make build-certsuite-tool
        working-directory: certsuite

      - name: Upload certsuite binary as artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: certsuite-binary
          path: certsuite/certsuite
          retention-days: 1

  qe-testing:
    needs: [build-and-store-binary, build-and-store-image]
    if: ${{ needs.build-and-store-binary.result == 'success' && needs.build-and-store-image.result == 'success' }}
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        suite: [accesscontrol, affiliatedcertification, manageability, networking, lifecycle, performance, platformalteration, observability, operator]
    env:
      SHELL: /bin/bash
      KUBECONFIG: '/home/runner/.kube/config'
      PFLT_DOCKERCONFIG: '/home/runner/.docker/config'
      TEST_CERTSUITE_IMAGE_NAME: quay.io/redhat-best-practices-for-k8s/certsuite
      TEST_CERTSUITE_IMAGE_TAG: localtest
      DOCKER_CONFIG_DIR: '/home/runner/.docker/'
      SKIP_PRELOAD_IMAGES: true # Not needed for github-hosted runs

    steps:
      - name: Write temporary docker file
        run: |
          mkdir -p /home/runner/.docker
          touch ${PFLT_DOCKERCONFIG}
          echo '{ "auths": {} }' >> ${PFLT_DOCKERCONFIG}

      - name: Check out code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v5.0.0
        with:
          ref: ${{ github.sha }}

      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: go.mod

      - name: Disable default go problem matcher
        run: echo "::remove-matcher owner=go::"

      - name: Check out `certsuite-sample-workload`
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v5.0.0
        with:
          repository: redhat-best-practices-for-k8s/certsuite-sample-workload
          path: certsuite-sample-workload

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y python3-pip

      - name: Setup up k8s cluster
        uses: palmsoftware/quick-k8s@v0.0.45
        with:
          disableDefaultCni: true
          numControlPlaneNodes: 1
          numWorkerNodes: 2
          installOLM: true
          removeDefaultStorageClass: true
          removeControlPlaneTaint: true

      - name: Install partner resources
        run: python3 -m venv .venv; source .venv/bin/activate; pip install --upgrade pip; pip install jinjanator; cp .venv/bin/jinjanate .venv/bin/j2; make install-for-qe
        working-directory: certsuite-sample-workload

      - name: Show pods
        run: oc get pods -A

      - name: Wait for all pods to be ready
        run: ./scripts/wait-for-all-pods-running.sh
        working-directory: certsuite-sample-workload
        timeout-minutes: 10

      - name: Clone the certsuite repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v5.0.0
        with:
          repository: ${{ env.TEST_REPO }}
          path: certsuite
          ref: ${{ env.CERTSUITE_REF }}

      - name: Extract dependent Pull Requests
        uses: depends-on/depends-on-action@826c144163ac67bf08347590a5f81afd45da63ca # main
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          extra-dirs: certsuite-sample-workload certsuite

      - name: Download pre-built certsuite binary
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: certsuite-binary
          path: certsuite/

      - name: Make binary executable
        run: chmod +x certsuite/certsuite

      - name: Download pre-built image
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: testimage
          path: /tmp

      - name: Load the image
        run: docker load -i /tmp/testimage.tar

      - name: Run the tests (against image)
        uses: nick-fields/retry@ce71cc2ab81d554ebbe88c79ab5975992d79ba08 # v3.0.2
        with:
          timeout_minutes: 150
          max_attempts: 3
          command: FEATURES=${{matrix.suite}} CERTSUITE_REPO_PATH=${GITHUB_WORKSPACE}/certsuite CERTSUITE_IMAGE=${{env.TEST_CERTSUITE_IMAGE_NAME}} CERTSUITE_IMAGE_TAG=${{env.TEST_CERTSUITE_IMAGE_TAG}} DISABLE_INTRUSIVE_TESTS=true ENABLE_PARALLEL=true ENABLE_FLAKY_RETRY=true JOB_ID=${{github.run_id}} make test-features

      # Only run against the binary during a scheduled run
      - name: Run the tests (against binary)
        uses: nick-fields/retry@ce71cc2ab81d554ebbe88c79ab5975992d79ba08 # v3.0.2
        with:
          timeout_minutes: 150
          max_attempts: 3
          command: FEATURES=${{matrix.suite}} CERTSUITE_REPO_PATH=${GITHUB_WORKSPACE}/certsuite USE_BINARY=true DISABLE_INTRUSIVE_TESTS=true ENABLE_PARALLEL=true ENABLE_FLAKY_RETRY=true JOB_ID=${{github.run_id}} make test-features

  check-all-dependencies-are-merged:
    runs-on: ubuntu-24.04
    steps:

      - name: Extract dependent PR
        uses: depends-on/depends-on-action@826c144163ac67bf08347590a5f81afd45da63ca # main
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          check-unmerged-pr: true

...
